@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Prompt&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}


body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth-button{
  width: 14em;
  height: 5em;
  border: solid 7px rgb(46, 44, 48);
  background-color: white;
  cursor: pointer
}
.auth-button:hover,
.auth-button:focus{
  width: 14em;
  height: 5em;
  border: solid 9px rgb(46, 44, 48);
  background-color: rgb(255, 240, 27);
  cursor: pointer;
}

.auth{
  text-decoration: none;
}
.map-h2 {
  cursor: pointer;
  text-decoration: none;
}
.map-h2:hover,
.map-h2:focus {
  color: rgb(255, 240, 27);
  cursor: pointer;
  text-decoration: none;
}
.map-h4 {
  cursor: pointer;
  text-decoration: none;
  color: rgb(88, 33, 94);
}
.map-h4:hover,
.map-h4:focus {
  color: rgb(255, 240, 27);
  cursor: pointer;
  text-decoration: none;
}
.quest-map {
  cursor: pointer;
  text-decoration: none;
  color: rgb(252, 252, 252);
  text-align: center;
}
.quest-map:hover,
.quest-map:focus {
  color: rgb(255, 240, 27);
  cursor: pointer;
  text-decoration: none;
}
.minter-h {
  color: white;
}

/* Pop Up */

.popup-box {
  position: fixed;
  background-color:#00000050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.box {
  position: relative;
  width: 75%;
  min-height: 300px;
  background-color: black;
  border: solid 1px grey;
  border-radius: 4px;
  margin: 92px auto;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.close-icon {
  content: 'X';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(125px);
  background-color:#00000050;
  width: 50px;
  height: 50px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}