@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Press+Start+2P&family=Prompt&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}


body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth-button{
  width: 14em;
  height: 5em;
  border: solid 7px rgb(46, 44, 48);
  background-color: white;
  cursor: pointer
}
.auth-button:hover,
.auth-button:focus{
  width: 14em;
  height: 5em;
  border: solid 9px rgb(46, 44, 48);
  background-color: rgb(255, 240, 27);
  cursor: pointer
}

.auth{
  text-decoration: none;
}
.map-h2 {
  cursor: pointer;
  text-decoration: none;
}
.map-h2:hover,
.map-h2:focus {
  color: rgb(255, 240, 27);
  cursor: pointer;
  text-decoration: none;
}
.map-h4 {
  cursor: pointer;
  text-decoration: none;
  color: rgb(88, 33, 94);
}
.map-h4:hover,
.map-h4:focus {
  color: rgb(255, 240, 27);
  cursor: pointer;
  text-decoration: none;
}
.quest-map {
  cursor: pointer;
  text-decoration: none;
  color: rgb(252, 252, 252);
  text-align: center;
}
.quest-map:hover,
.quest-map:focus {
  color: rgb(255, 240, 27);
  cursor: pointer;
  text-decoration: none;
}